nav {
    background-color: #fff;
    text-align: center;
}
nav a {
    display: inline-block;
    position: relative;
    line-height: 30px;
    padding: 10px 20px;
    font-size: 20px;
}
nav a + a::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 0;
    width: 1px;
    height: 50%;
    background-color: #666;
}